body {
    background: #f6f6f6;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4 {
    font-weight: normal;
}

.h1, h1 {
    font-size: 1.8rem;
}

.h2, h2 {
    font-size: 1.6rem;
}

.h3, h3 {
    font-size: 1.3rem;
}

.h4, h4 {
    font-size: 1.2rem;
}

nav.navbar {
    background: #00b894;
}

nav.navbar .navbar-brand,
nav.navbar .navbar-brand:focus,
nav.navbar .navbar-brand:hover {
    color: white;
}

nav.navbar .logo {
    background: white;
    color: #00b894;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    text-align: center;
}

.each-page-transaction {
    margin-top: 1rem;
    padding: .5rem 0rem;
    border-bottom: 1px solid #d1d3d6;
    border-left: 3px solid gray;
    background: white;
}

.each-page-transaction.status-staying {
    border-left-color: #fdcb6e;
}

.each-page-transaction.status-complete {
    border-left-color: #0984e3;
}

.each-page-transaction.status-leave {
    border-left-color: #d63031;
}

.badge {
    min-width: 4rem;
    vertical-align: text-bottom;
}

.badge-staying {
    color: #fff;
    background-color: #fdcb6e;
}

.badge-complete {
    color: #fff;
    background-color: #0984e3;
}

.badge-leave {
    color: #fff;
    background-color: #d63031;
}

.badge.badge-visitor {
    border: 1px solid #636c72;
    color: #636c72;
    font-weight: normal;
    vertical-align: baseline;
}

.path {
    font-weight: bold;
}

.visit-time {
    font-size: .9rem;
}

.score-total {
    font-size: 1.5rem;
}

.wrap-rate-input {
    font-size: .9rem;
}

.title-chart {
    display: block;
    text-align: center;
    color: #6c757d;
    margin-bottom: .5rem;
}

.popover {
    font-size: .6rem;
}