<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>トップ</title>
</head>

<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <h1>ホスト一覧</h1>
        </div>
    </div>

    <section class="row">
        <div class="list-group" style="width: 100%;">
            <a href="#"
               class="list-group-item list-group-item-action"
               th:each="host : ${clientHosts}" th:object="${host}"
               th:href="@{hosts/{id}/metrics(id=*{id})}">
                <span th:text="*{host}"></span>
                <span class="badge badge-info" th:text="*{tag}"></span>
            </a>
        </div>
    </section>
</div>
</body>
</html>