<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Host Metrics</title>
</head>

<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <h1 th:text="${host.host}"></h1>
            <span class="badge badge-info" th:text="${host.tag}"></span>
        </div>
    </div>

    <section id="area-metrics">
        <div class="row each-page-transaction" th:each="entry : ${metricsMap}">
            <span class="single-metric"
                  th:each="metrics : ${entry.value}" th:object="${metrics}"
                  th:data-visitor="*{visitorId}"
                  th:data-path="*{path}" th:data-input-name="*{name}"
                  th:data-event-name="*{event}" th:data-client-at="*{clientEventAt}"></span>

            <div class="col-3">
                <div class="mb-4">
                    <span class="status mr-1"></span>
                    <span class="path"></span>
                </div>
                <table>
                    <tr>
                        <td>score:</td>
                        <td><span class="score-total ml-1 mr-1"></span>sec</td>
                    </tr>
                    <tr>
                        <td colspan="2">　</td>
                    </tr>
                    <tr>
                        <td>input</td>
                        <td>
                            <span class="score-input mr-1"></span>sec
                            <span class="wrap-rate-input">
                                (<span class="rate-input mr-1"></span>%)
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>visit</td>
                        <td><span class="visit-time"></span></td>
                    </tr>
                    <tr>
                        <td>user</td>
                        <td><span class="visitor-token"></span></td>
                    </tr>
                </table>
            </div>
            <div class="col-4">
                <span class="title-chart">input time</span>
                <canvas class="chart-process-times"></canvas>
            </div>
            <div class="col-1"></div>
            <div class="col-4">
                <span class="title-chart">focus count</span>
                <canvas class="chart-click-counts"></canvas>
            </div>
        </div>

        <nav aria-label="metrics" class="d-flex mt-2">
            <ul class="pagination mx-auto"
                th:data-total="${pagination.total}"
                th:data-current="${pagination.page}"
                th:data-limit="${pagination.limit}">
            </ul>
        </nav>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"
            crossorigin="anonymous"></script>
    <script src="/assets/js/metrics.index.js"></script>
</div>
</body>
</html>
